/* Fontlar */

@font-face {

    font-family: "Coco-Sharp-Regular";
    src: url("../fonts/Coco-Sharp-Regular-trial.ttf");
  
    font-family: "Dongle-Bold";
    src: url("../fonts/Dongle-Bold.ttf");
  }
/* hakkımızda layout */ 
.col-aboutus-top img{
    width: 100%;
}
.col-abus1{
    width: 59%;
}
.col-abus2{
    width: 39%;
}
.col-abus2 img{
    width: 100%;
    margin: 0;
}
/* icerik-acılır kutular*/
.col-abus1 nav {
    width : 100%; 

    margin : 40px auto; 
  }
  
  .col-abus1 p {
    font-family: "Dongle-Bold";
    width: auto;
    padding: 20px;
    font-size: 2rem;
    background : #EEFFCF;
    box-shadow: 5px 5px 0px #AED36A;
    border-radius: 25px; 
    color : #6C6C6C;
    cursor : pointer;
    display: flex;
  }
  
  .col-abus1 p::after {
    float: right;
    right: 50%;
  }
  
  .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
  }
  
  .slide li {
            font-family: "Coco-Sharp-Regular";
            font-size: 1.2rem;
            list-style-type: none;
}
  #touch {position: absolute; opacity: 0; height: 0px;}    
  
  #touch:checked + .slide {height: 100px;}
  #touch1 {position: absolute; opacity: 0; height: 0px;}    
  
  #touch1:checked + .slide {height: 100px;}
  #touch2 {position: absolute; opacity: 0; height: 0px;}    
  
  #touch2:checked + .slide {height: 100px;}
  .col-abus1{
    margin-right:-100px;
    padding: 20px;
    height: auto;
    max-height: 1000px;
    
}
.col-abus1 span {
    font-size: 60px;
    color: #6C6C6C;
    font-family: "Dongle-Bold";
    line-height: 45px;

}
.col-abus1 h3{
    color: #8EBC38;
}
#ilk{
    font-size: 100px;
    font-family: "Dongle-Bold";
    color: #8EBC38;
    text-align: center;
}
#iki{
    font-family: "Dongle-Bold";
    color: #6C6C6C;
    text-align: center;
    font-size: 45px;
}
.col-abus-contact{
    padding-top: 3.5em;
    flex-direction: column;
}
#mail,#ad,#soyad,#msg{
    font-size: 1rem;
    height: 4em;
    width:100%;
    background-color:#EEFFCF;
    box-shadow: 0px 5px 0px #AED36A;
    border-radius: 5px; 
    border:none;
}
#msg{
    height: 10rem;

}
#gonder{
    cursor: pointer ;
    margin-left: auto;
    margin-right: 0;
    font-size: 1.5rem;
    background-color: #AED36A;
    color: white;
    font-family: "Dongle-Bold";
    border:none;
    border-radius: 5px; 
    height:2em;
    width: 25%;
}
.col-abus-contact table{
    width: 50%;
}
.col-abus-contact td{
    padding: 1em;
}
.col-footer{
  margin: 0;
  display: flex;
  flex-direction: column;
}
.col-footer1{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: .4em 8em;
    margin: 0;
}
.col-footer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    margin: 0;
}
.col-footer-hr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    margin: 0;
}
.col-footer-bg{
    background: url(../img/footer_background.png);
    background-color: #1a779f42;
}
.col-left{
    text-align: center ;
    margin-top: 6em;
    width: 33%;

}
.col-left img{

    padding:1em 1em 0 0 ;
    width: 80%;
}
.col-left p{
    font-family: "Coco-Sharp-Regular";
    text-align: left;

    color: #194E78;
}
.col-center{
    margin-bottom: -3em;
    margin-left: 5em;
    width: 33%;
}
.col-center h2{
    font-family: "Dongle-Bold";
    color:#545454;
    font-size: 2rem;
    text-align: left;
}
.col-center a{
    color: #6C6C6C;
}
.col-center ul li{
    list-style-type: none;
    margin-top: 1em;
}
.col-center ul{
    margin-left: 0;
}
.col-center a{
    text-decoration: none;
}
.col-right{
    margin-left: 5em;
    width: 33%;
}
.col-right h6{
    margin-bottom: .8em;
    font-family: "Dongle-Bold";
    color:#545454;
    font-size: 2rem;
    line-height: .8em;
}
#footertext{
    width:100%;
    height: 7rem;
    background-color: #E4E4E4;
    border: none;
    border-radius: 1em;
}
#footerbtn{
    float: right;
    margin-top: .5em;
    cursor: pointer ;
    margin-left: auto;
    margin-right: 0;
    font-size: 1rem;
    font-family: "Dongle-Bold";
    border:none;
    border-radius: 5px; 
    height:2em;
    width: 25%;
    background-color: #194E78;
    color: white;
}
.col-footer-hr hr{
    width: 100%;
    background-color: #194E78;
    height: .07em;
}
.col-copy{
    display: flex;
    padding:0 1em 0 0;
}
.col-copy h4{
    margin-right: 1em;
    color: #194E78;
    font-family: "Dongle-Bold";
}
