@font-face {

    font-family: "Coco-Sharp-Regular";
    src: url("../fonts/Coco-Sharp-Regular-trial.ttf");
  
    font-family: "Dongle-Bold";
    src: url("../fonts/Dongle-Bold.ttf");
  }
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
.ustresim{
        width: 100%;
        height: auto;   
}
.ustresim img {
    width: 100%;
    height: auto;
    display: block; /* Inline element olmasını engelleyerek altındaki boşluğu kaldırır */
}
.container1{
    margin-top:75px;
    width: 100%;
    display: flex;
}
/*icerik*/
.icerik{
    margin-right:-100px;
    flex: 65%;
    padding: 20px;
    height: auto;
    max-height: 1000px;
    margin-left: 25px;
}
.icerik span {
    font-size: 60px;
    color: #6C6C6C;
    font-family: "Dongle-Bold";
    line-height: 45px;

}
.icerik h3{
    color: #8EBC38;
}
/* icerik-acılır kutular*/
nav {
    width : 100%; 

    margin : 40px auto; 
  }
  
  p {
    width: 820px;
    padding: 20px;
    font-size: 25px;
    background : #EEFFCF;
    box-shadow: 5px 5px 0px #AED36A;
    border-radius: 25px; 
    color : #6C6C6C;
    cursor : pointer;
    display: flex;
  }
  
  p::after {
    float: right;
    right: 50%;
  }
  
  .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
  }
  
  .slide li {
            font-size: 20px;
            list-style-type: none;
}
  #touch {position: absolute; opacity: 0; height: 0px;}    
  
  #touch:checked + .slide {height: 100px;}
  #touch1 {position: absolute; opacity: 0; height: 0px;}    
  
  #touch1:checked + .slide {height: 100px;}
  #touch2 {position: absolute; opacity: 0; height: 0px;}    
  
  #touch2:checked + .slide {height: 100px;}
/* img */
.icerikimg{
    flex: 35%;
    height: auto;
    max-height: 1000px;
    display: block;
}
.icerikimg img {
    width: auto;
    height: 860px;
    display: block;
    margin-top: -25px;
}
/* container2 */ 
#ilk{
    font-size: 100px;
    font-family: "Dongle-Bold";
    color: #8EBC38;
    margin-top: 75px;
text-align: center;
}
#iki{
    font-family: "Dongle-Bold";
    color: #6C6C6C;
    margin-top: 10px;
    text-align: center;
    font-size: 45px;
}
/* form */ 
form{
    margin-top: 50px;
    text-align: center;
}
input[type=text]{
    height: 70px;
    background-color: #EEFFCF;
    box-shadow: 0px 5px 0px #AED36A;
    color : #A7A7A7;
    border-radius: 13px;
    padding: 18px 36px;
    margin: 5px 3px;
    outline: none;
}
input[type=textarea]{

    height: 150px;
    background-color: #EEFFCF;
    box-shadow: 0px 5px 0px #AED36A;
    color : #A7A7A7;
    border-radius: 13px;
    margin: 5px 3px;
    outline: none;
}