.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu li{
    float: left;
    position: relative;
    width: 120px;
  }
  .menu ul li ul{
    display: none;
  }
  .menu ul li:hover ul{
    display: block;
  }