/* Fontlar */
@font-face {
  font-family: "Dongle-Regular";
  src: url("../fonts/Dongle-Regular.ttf");
}
@font-face {
  font-family: "Dongle-Bold";
  src: url("../fonts/Dongle-Bold.ttf");
}
@font-face { font-family: "Coco-Sharp-Regular"; src: url("../fonts/Coco-Sharp-Regular-trial.ttf"); }

html{
  /* Sitenin oto font size'ını belirlemek için */
  font-size: 20px;
}
body{
  font-size: 1.125rem;
  color: #000000;
  margin: 0;
}

/* typography */
h1{
  font-size: 6rem;
  text-align: left;
  font-family: "Dongle-Bold";
  line-height: 4.5rem;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
h2{
  font-size: 1.5rem;
}
.col-intro-2 h2{
  color: #f08080;
  font-family: "Coco-Sharp-Regular";
}
.col-intro-2-vet h2{
  color: #0cdd71;
  font-family: "Coco-Sharp-Regular";
}
.col-intro-2 p{
  margin-top: 0;
  font-family: "Coco-Sharp-Regular";
}
.accent-color{
  color: #ef9826;
}
.accent-color-vet{
  color: #168aad;
}

/* Butonlar */
.button{
  display: inline-block;
  padding: .25em 3em;
  text-decoration: none;
  margin-bottom: 2em;
  border-radius: 50px;
}
.btn-mid{
  color: #fff;
  font-size: 2rem;
  text-align: start;
  background: #f08080;
  font-family: "Dongle-Bold";
}
.btn-mid:hover{
  background: #EF9826;
  transition: 0.5s;
}
.btn-mid-vet{
  color: #fff;
  font-size: 2rem;
  text-align: start;
  background: #0cdd71;
  font-family: "Dongle-Bold";
}
.btn-mid-vet:hover{
  background: #168AAD;
  transition: 0.5s;
}

/* Layout */
.container{
  width: 100%;
  margin: 0 auto;
}
.columns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 3em;
  margin: 0;
} 

/* Header Layout */
.col-head{
  background: #fedab850;
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Dongle-Bold";
}
.col-logo{
  width: 10%;
}
.col-logo img{
  width: 100%;
  padding: .5em 3em;
}
.col-menu{
  width: 60%;
}
.col-menu ul li{
  list-style-type: none;
  padding: .5em 2em;
  margin: 0;
  display: inline-block;
}
.col-menu a{
  color: #000000;
  text-decoration: none;
  font-size: 2rem;
}
.col-user-act{
  width: auto;
  max-width: 25%;
  font-size: 2rem;
}
.col-user-act a{
  color: #000000;
  text-decoration: none;
}
.col-user-act ul li{
  list-style-type: none;
  display: inline-block;
  padding: .5em 2em .5em 0;
  margin-left: -1em;
}
.col-menu a:hover, .col-user-act a:hover{
  color: #EF9826;
  transition: 0.5s;
}
.open-menu ul {
  text-align: center;
  display: inline;
  list-style: none;
}
.open-menu ul li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.open-menu ul li ul {
  padding: 0;
  position: absolute;
  top: 3em;
  left: -.3em;
  width: 12em;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.open-menu ul li ul li { 
  background: #fedab850; 
  display: block; 
  color: #fff;
}
.open-menu ul li ul li a{
  font-size: 1.5rem;
}
.open-menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#check, #cancel, #btn{
  display: none;
}
.sidebar{
  display: none;
}
/* Header Layout for Vet */
.col-head-vet{
  background: #34a0a42a;
}
.col-menu-vet a:hover, .col-user-act-vet a:hover{
  color: #168AAD;
  transition: 0.5s;
}

/* Introduction Layout */
.col-intro{
  padding-top: 5em;
}
.col-intro-bg{
  background: url(../img/background-first.png);
  background-color: #fedab850;
}
.col-intro-1{
  width: 49%;
}
.col-intro-1 img{
  width: 100%;
  margin: 0;
  margin-bottom: 10em;
}
.col-intro-2{
  width: 49%;
}
/* Introduction Layout for Vet*/
.col-intro-bg-vet{
  background: url(../img/background-first-vet.png);
  background-color: #34a0a42a;
}

/* hakkmızda */
.col-abus{
  padding-top: 3em;
}
.col-aboutus-top img{
  width: 100%;
}
.col-abus1{
  width: 59%;
}
.col-abus2{
  width: 39%;
}
.col-abus2 img{
  width: 100%;
  margin: 0;
}

/* icerik-acılır kutular*/
.col-abus1 nav {
  width : 100%; 
  margin : .25em auto;
}
.col-abus1 p {
  font-family: "Dongle-Bold";
  width: auto;
  margin: .75em auto;
  padding: .5em;
  font-size: 2.25rem;
  background : #EEFFCF;
  border-color: #AED36A;
  border-width: 0 .20em .20em 0;
  border-style: solid;
  border-radius: 25px; 
  color : #6C6C6C;
  cursor : pointer;
  display: flex;
  line-height: 2.25rem;
}
.col-abus1 p::after {
  float: right;
  right: 50%;
}
.col-abus1 p:hover{
  background: #d8f89c;
  transition: .5s;
}
.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
}
.slide li {
  font-family: "Coco-Sharp-Regular";
  font-size: 1.25rem;
  list-style-type: none;
  padding-right: 2em;
}
#touch {position: absolute; opacity: 0; height: 0px;}
#touch:checked + .slide {height: 5em;}
#touch1 {position: absolute; opacity: 0; height: 0px;}
#touch1:checked + .slide {height: 5em;}
#touch2 {position: absolute; opacity: 0; height: 0px;}
#touch2:checked + .slide {height: 5em;}
.col-abus1{
  padding: 0;
  height: auto;
  max-height: 1000px;

}
.col-abus1 span {
  font-size: 3.5rem;
  color: #6C6C6C;
  font-family: "Dongle-Bold";
  line-height: 3rem;
}
.col-abus1 h3{
  color: #8EBC38;
  font-family: "Coco-Sharp-Regular";
  font-size: 1.5rem;
  margin: 0.25em 0;
}
/* Hakkımızda Alt */
.col-abus-info{
  padding-top: 4em;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.col-abus-dis{
  background-color: #ffffff;
  width: 30%;
  height: 15em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  border-width: .5em 0 0 .5em;
  border-style: solid;
  border-color: #F08080;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.236)
}
.col-abus-dis-title h3 {
  font-family: "Dongle-Bold";
  color: #000000;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .5em;
  line-height: 2.5rem;
}
.col-abus-dis-info {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
}
.col-abus-dis-info p {
  font-family: "Coco-Sharp-Regular";
  text-decoration: none;
  margin: 0;
  font-size: 1.5em;
  color: #000000;
}

/* Bize ulaşın layout */
.col-abus-contact{
  padding-top: 5em;
  flex-direction: column;
}
#ilk{
  font-size: 5rem;
  font-family: "Dongle-Bold";
  color: #8EBC38;
  text-align: center;
}
#iki{
  font-family: "Coco-Sharp-Regular";
  color: #6C6C6C;
  text-align: center;
  font-size: 1.25rem;
}
.col-abus-contact table{
  width: 75%;
}
.col-abus-contact td{
  padding: .5em;
}
#msg, .col-abus-contact input[type="text"]{
  font-size: 1rem;
  height: 5em;
  width: 100%;
  background-color:#EEFFCF;
  border-radius: 25px; 
  border-color: #AED36A;
  border-width: 0 0 .5em 0;
  border-style: solid;
  font-family: "Coco-Sharp-Regular";
  text-indent: 2em;
}
.col-abus-contact textarea{
  padding-top: 1.5em;
  resize: none;
}
#msg{
  height: 10rem;
}
.col-abus-contact input[type="submit"]{
  cursor: pointer ;
  margin-left: auto;
  right: 0;
  font-size: 1.5rem;
  background-color: #AED36A;
  color: white;
  font-family: "Dongle-Bold";
  border:none;
  border-radius: 5px; 
  height:2em;
  width: 25%;
  float: right;
}
.col-abus-contact input[type="submit"]:hover{
  background: #77b700;
  transition: 0.5s;
}

/* Services Layout */
.col-services{
  padding-top: 4em;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
/* typography */
.col-services h2{
  color: #F4978E;
  font-family: "Dongle-Bold";
  font-size: 2rem;
}
.col-services h1{
  color: #F08080;
  margin-top: -0.4em;
  font-size: 5rem;
}
/* İlk üç kare */
.col-services-1{
  padding-top: 3em;
}
.col-serv-vaccine {
  background-color: #fff;
  width: 30%;
  height: 15em;
  font-family: "Dongle-Bold";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  border-width: .25em .25em 0 0;
  border-style: solid;
  border-color: #F4978E;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.236)
}
.col-serv-vac-mid p {
  color: #F4978E;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .5em;
  line-height: 2.5rem;
}
.col-serv-vac-sub {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
}
.col-serv-vac-sub a {
  text-decoration: none;
  margin: 0;
  font-size: 1.5em;
  color: #F4978E;
}
.col-serv-vac-sub a:hover{
  color: #f54c3d;
  transition: 0.5s;
}
.col-serv-disease {
  background-color: #fff;
  width: 30%;
  height: 15em;
  font-family: "Dongle-Bold";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;;
  border-radius: 30px;
  border-width: .25em 0 0 0;
  border-style: solid;
  border-color: #8EBC38;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.236)
}
.col-serv-dis-mid p {
  color: #8EBC38;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .5em;
  line-height: 2.5rem;
}
.col-serv-dis-sub {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
}
.col-serv-dis-sub a {
  text-decoration: none;
  margin: 0;
  font-size: 1.5em;
  color: #8EBC38;
  cursor: pointer;
}
.col-serv-dis-sub a:hover {
  color: #669c03;
  transition: 0.5s;
}
.col-serv-faqs {
  background-color: #fff;
  width: 30%;
  height: 15em;
  font-family: "Dongle-Bold";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;;
  border-radius: 30px;
  border-width: .25em 0 0 .25em;
  border-style: solid;
  border-color: #168AAD;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.236)
}
.col-serv-faq-mid p {
  color: #168AAD;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .5em;
  line-height: 2.5rem;
}
.col-serv-faq-sub {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
}
.col-serv-faq-sub a {
  text-decoration: none;
  margin: 0;
  font-size: 1.5em;
  color: #168AAD;
}
.col-serv-faq-sub a:hover {
  color: #034d63;
  transition: 0.5s;
}
/* ikinci üç kare */
.col-services-2{
  padding-top: 5em;
  padding-bottom: 5em;
}
.col-serv-mypets {
  background-color: #fff;
  width: 30%;
  height: 15em;
  font-family: "Dongle-Bold";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  border-width: 0 .25em .25em 0;
  border-style: solid;
  border-color: #34A0A4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.236)
}
.col-serv-pet-mid p {
  color: #34A0A4;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .5em;
  line-height: 2.5rem;
}
.col-serv-pet-sub {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
}
.col-serv-pet-sub a {
  text-decoration: none;
  margin: 0;
  font-size: 1.5em;
  color: #34A0A4;
}
.col-serv-pet-sub a:hover {
  color: #03787c;
  transition: 0.5s;
}
.col-serv-petshop {
  background-color: #fff;
  width: 30%;
  height: 15em;
  font-family: "Dongle-Bold";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;;
  border-radius: 30px;
  border-width: 0 0 .25em 0;
  border-style: solid;
  border-color: #AFD36B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.236)
}
.col-serv-petshop-mid p {
  color: #AFD36B;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .5em;
  line-height: 2.5rem;
}
.col-serv-petshop-sub {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
}
.col-serv-petshop-sub a {
  text-decoration: none;
  margin: 0;
  font-size: 1.5em;
  color: #AFD36B;
}
.col-serv-petshop-sub a:hover {
  color: #71aa05;
  transition: 0.5s;
}
.col-serv-vets {
  background-color: #fff;
  width: 30%;
  height: 15em;
  font-family: "Dongle-Bold";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;;
  border-radius: 30px;
  border-width: 0 0 .25em .25em;
  border-style: solid;
  border-color: #FBC4AB;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.236)
}
.col-serv-vet-mid p {
  color: #FBC4AB;
  font-size: 2.5em;
  margin: 0;
  padding: 0 .5em;
  line-height: 2.5rem;
}
.col-serv-vet-sub {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
}
.col-serv-vet-sub a {
  text-decoration: none;
  margin: 0;
  font-size: 1.5em;
  color: #FBC4AB;
}
.col-serv-vet-sub a:hover {
  color: #fa8047;
  transition: 0.5s;
}

/* Register & Login */
.col-register{
  padding-top: 3.5em;
  flex-direction: column;
  padding-bottom: 3.5em;
}
.col-reg-bg{
  padding-top: 5em;
  text-align: center;
  background: url(../img/signin_up_background.png);
  background-color: #F4978E;
  width: 100%;
  border-radius: 2em;
  padding-bottom: 5em;
}
.col-reg-bg h1{
  font-family: "Dongle-Bold";
  color: white;
  text-align: center;
  font-size: 4em;
}
.col-reg-bg table input {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  background-color: white;
  height: 2.6rem;
  border-radius: 1rem;
  border:none;
}
.col-reg-bg table {
  width: 40%;
}
.col-reg-bg td{
  padding: .5rem;
}
.col-reg-bg input[type="radio"]{
  height: 1rem;
  width: 10%;
}
#radiobg td{
  border:none;
  background-color: white;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: left;
}
.col-reg-bg input[type="submit"]{
  width: 70%;
  color: #F4978E;
  font-family: "Dongle-Bold";
  font-size: 3rem;
  height: 4rem;
  cursor: pointer;
}
.col-reg-bg h6, .col-reg-bg a{
  margin-top: 0;
  color: white;
  font-family: "Dongle-Bold";
  font-size: 1.5rem;
  margin-bottom:0;
  text-decoration: none;
  height: 1.3rem;
}
/* maps */ 
.col-maps{
  padding-top: 3.5em;
  flex-direction: column;
  padding-bottom: 3.5em;
}
.col-maps1{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content:space-between;
}
.col-maps h1{
  text-align: center;
  font-family: "Dongle-Bold";
  font-size: 5rem;
  color: #8EBC38;
}
.col-vet-map{
  width: 100%;
}
.col-pet-map{
  margin-left: 5rem;
  width: 100%;
}
.col-pet-map h6,.col-vet-map h6{
  font-size: 1rem;
  height: 0;
}

/* Footer */
.col-footer{
  margin: 0;
  display: flex;
  flex-direction: column;
}
.col-footer1{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: .4em 8em;
    margin: 0;
}
.col-footer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    margin: 0;
}
.col-footer-hr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    margin: 0;
}
.col-footer-bg{
    background: url(../img/footer_background.png);
    background-color: #1a779f42;
}

/* Sol logo tarafı */
.col-left{
    text-align: center ;
    margin-top: 6em;
    width: 33%;

}
.col-left img{

    padding:1em 1em 0 0 ;
    width: 80%;
}
.col-left p{
    font-family: "Coco-Sharp-Regular";
    text-align: left;

    color: #194E78;
}

/* Servislerimiz */
.col-center{
    margin-bottom: -3em;
    margin-left: 5em;
    width: 33%;
}
.col-center h2{
    font-family: "Dongle-Bold";
    color:#545454;
    font-size: 2rem;
    text-align: left;
}
.col-center a{
    color: #6C6C6C;
}
.col-center ul li{
    list-style-type: none;
    margin-top: 1em;
}
.col-center ul{
    margin-left: 0;
}
.col-center a{
    text-decoration: none;
}

/* Geri dönüş */
.col-right{
    margin-left: 5em;
    width: 33%;
}
.col-right h6{
    margin-bottom: .8em;
    font-family: "Dongle-Bold";
    color:#545454;
    font-size: 2rem;
    line-height: .8em;
}
#footertext{
    width:100%;
    height: 7rem;
    background-color: #E4E4E4;
    border: none;
    border-radius: 1em;
}
#footerbtn{
    float: right;
    margin-top: .5em;
    cursor: pointer ;
    margin-left: auto;
    margin-right: 0;
    font-size: 1rem;
    font-family: "Dongle-Bold";
    border:none;
    border-radius: 5px; 
    height:2em;
    width: 25%;
    background-color: #194E78;
    color: white;
}

/* Çizgi & copyright */
.col-footer-hr hr{
    width: 100%;
    background-color: #194E78;
    height: .07em;
}
.col-copy{
    display: flex;
    padding:0 1em 0 0;
}
.col-copy h4{
    margin-right: 1em;
    color: #194E78;
    font-family: "Dongle-Bold";
}

/* Evcil hayvanlarım */
/* Evcil hayvan ekle */
.col-add-pet{
  padding-top: 3.5em;
  flex-direction: column;
  padding-bottom: 3.5em;
}
.col-add-pet-bg{
  background: url(../img/evcilhayvan_arkaplan.png);
  width: 90%;
  margin-top: 4em;
  padding-top: 5em;
  text-align: center;
  border-radius: 2em;
  padding-bottom: 5em;
  background-position: center;
  background-size: cover;
}
.col-add-pet h1{
  text-align: center;
  color: white;
}
.col-add-pet-bg table input {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  background-color: white;
  height: 2.6rem;
  border-radius: 1rem;
  border:none;
}
.col-add-pet-bg table {
  width: 40%;
}
.col-add-pet-bg td{
  padding: .5em;
}
.col-add-pet-bg input[type="radio"]{
  height: 1rem;
  width: 10%;
}
#radiobg td{
  border:none;
  background-color: white;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: left;
}
.col-add-pet-bg input[type="submit"]{
  width: 70%;
  color: #34A0A4;
  font-family: "Dongle-Bold";
  font-size: 3rem;
  height: 4rem;
  cursor: pointer;
}
.col-add-pet-bg input[type="submit"]:hover{
  background-color: #34A0A4;
  color: white;
  transition: .5s;
}
.col-add-pet-bg select{
  text-align: center;
  font-size: 1rem;
  width: 100%;
  background-color: white;
  height: 2.6rem;
  border-radius: 1rem;
  border:none;
}

/* evcil hayvanlarım */
.col-pet{
  padding-top: 5em;
  flex-direction: column;
}
.col-pet h1{
  text-align: center;
  font-size: 4rem;
  margin-top: 1em;
}
.col-pet-bg{
  background: url(../img/evcilhayvanprofil_arkaplan.png);
  background-color: #03787c;
  width: 90%;
  padding-top: 5em;
  text-align: center;
  border-radius: 2em;
  padding-bottom: 5em;
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
}
.col-pet-info{
  flex-direction: row;
  align-items: center;
  padding-bottom: 3.5em;
  display: flex;
  justify-content: space-between;
  padding: .5em 3em;
  margin: 0;
}
.col-pet-info-pp{
  width: 40%;
  align-items: start;
  margin: 0;
}
.col-pet-info-pp img{
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-color: white;
}
.col-pet-info-text{
  width: 60%;
  text-align: left;
}
.col-pet-info-text h2{
  color: white;
  font-family: "Dongle-Bold";
  font-size: 3rem;
  margin: 0;
  line-height: .5em;
}
.col-pet-info-text ul{
  list-style: none;
  background-color: white;
  width: fit-content;
  padding: 1em 7em 1em 1em;
  border-radius: 1rem;
}
.col-pet-info-text li{
  font-family: "Dongle-Regular";
  font-size: 1.75rem;
  line-height: 2rem;
}
.col-pet-info-text li b{
  font-family: "Dongle-Bold";
}
.btn-pet{
  color: #000000;
  font-size: 1.75rem;
  text-align: start;
  background: #ffffff;
  font-family: "Dongle-Bold";
  padding: .1em 2em 0em 2em;
  border: none;
  margin-bottom: 0;
}
.btn-pet:hover{
  background-color: #20b6bb;
  color: white;
  transition: .5s;
}

/* sağlık bilgileri */
.col-pet-health{
  background-color: white;
  margin: 0 3em;
  margin-top: 3em;
  border-radius: 3em;
  padding-top: 3em;
}
.col-pet-health h2{
  font-family: "Dongle-Bold";
  font-size: 3.5rem;
  line-height: 1rem;
}
/*Aşı bilgileri */
.col-pet-vac{
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin: 0 2em;
}
.pet-vac{
  background-color: #34A0A4;
  width: 32%;
  border-radius: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  align-items: center;
}
.pet-vac img{
  width: 20%;
}
.pet-vac h3{
  font-family: "Dongle-Bold";
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding: 0;
}
.pet-vac h4{
  font-family: "Coco-Sharp-Regular";
  font-size: 1rem;
  color: white;
  margin: 0;
  padding: 0;
}
.pet-vac span{
  font-family: "Dongle-Regular";
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 0;
}
#circle{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 2em;
}
/* Alerji bilgileri */
.col-pet-allergy{
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin: 0 2em;
}
.pet-allergy{
  background-color: #34A0A4;
  width: 32%;
  padding: 2em 0;
  border-radius: 1em;
}
.pet-allergy h3{
  font-family: "Dongle-Bold";
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding: 0;
}
/* hastalık bilgileri */
.col-pet-dis{
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin: 0 2em;
}
.pet-disease{
  background-color: #34A0A4;
  width: 32%;
  padding: 2em 0;
  border-radius: 1em;
}
.pet-disease h3{
  font-family: "Dongle-Bold";
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding: 0 1em;
}
.pet-disease p{
  font-family: "Coco-Sharp-Regular";
  font-size: 1rem;
  color: white;
  margin: 0;
  padding: 0 1em;
}
.btn-disease{
  color: #ffffff;
  font-size: 1.75rem;
  text-align: start;
  background: #34A0A4;
  font-family: "Dongle-Bold";
  padding: .5em 2em .4em 2em;
  border: none;
  margin: 2em 0;
}
.btn-disease:hover{
  background-color: #0c7477;
  transition: .5s;
}

/* Kullanıcı Profili */
.col-user-profile{
  padding-top: 3.5em;
  flex-direction: column;
  padding-bottom: 3.5em;
}
.col-user-profile-bg{
  background-color: #F4978E;
  margin-top: 4em;
  padding-top: 5em;
  text-align: center;
  border-radius: 2em;
  padding-bottom: 5em;
  margin-bottom: 4em;
}
.profile-head img{
  width: 90%;
  border-radius: 2em;
}
.prof-info-photo{
  flex-direction: row;
  display: flex;
}
.prof-info-photo img{
  width: 13em;
  height: 13em;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 2em;
  margin-left: 7em;
  margin-top: -5em;
  border: 5px #F4978E;
  border-style: solid;
}
.prof-info-photo h2{
  font-family: "Dongle-Bold";
  font-size: 3rem;
  color: white;
  margin-left: .5em;
  margin-top: .3em;
}
.btn-profile{
  color: #F4978E;
  font-size: 1.75rem;
  background: #fff;
  font-family: "Dongle-Bold";
  padding: .1em 2em .1em 2em;
  border-radius: 1rem;
  border: none;
  margin-left: auto;
  margin-right: 3em;
  margin-top: .7em;
  height: 2em;
}
.btn-profile:hover{
  background-color: #fdc7c2;
  color: #fff;
  transition: .5s;
}
.btn-go-pet{
  color: #F08080;
  font-size: 1.75rem;
  text-align: start;
  background: #fff;
  font-family: "Dongle-Bold";
  padding: .5em 2em .4em 2em;
  border: none;
  margin-top: 2em;
  margin-bottom: 1em;
}
.btn-go-pet:hover{
  background-color: #fdc7c2;
  color: #fff;
  transition: .5s;
}

/* Veteriner Profili */
.col-vet-profile{
  padding-top: 3.5em;
  flex-direction: column;
  padding-bottom: 3.5em;
}
.col-vet-profile-bg{
  background-color: #184E77;
  margin-top: 4em;
  padding-top: 5em;
  text-align: center;
  border-radius: 2em;
  padding-bottom: 5em;
  margin-bottom: 4em;
}
.vet-profile-head img{
  width: 90%;
  border-radius: 2em;
}
.vet-prof-info-photo{
  flex-direction: row;
  display: flex;
}
.vet-prof-info-photo img{
  width: 13em;
  height: 13em;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 2em;
  margin-left: 7em;
  margin-top: -5em;
  border: 5px #184E77;
  border-style: solid;
}
.vet-prof-info-photo h2{
  font-family: "Dongle-Bold";
  font-size: 3rem;
  color: white;
  margin-left: .5em;
  margin-top: .3em;
}
.btn-vet-profile{
  color: #184E77;
  font-size: 1.75rem;
  background: #fff;
  font-family: "Dongle-Bold";
  padding: .1em 2em .1em 2em;
  border-radius: 1rem;
  border: none;
  margin-left: auto;
  margin-right: 3em;
  margin-top: .7em;
  height: 2em;
}
.btn-vet-profile:hover{
  background-color: #2574b0;
  color: #fff;
  transition: .5s;
}
.btn-vet-health{
  color: #184E77;
  font-size: 1.75rem;
  text-align: start;
  background: #fff;
  font-family: "Dongle-Bold";
  padding: .5em 2em .4em 2em;
  border: none;
  margin-top: 2em;
  margin-bottom: 1em;
}
.btn-vet-health:hover{
  background-color: #2574b0;
  color: #fff;
  transition: .5s;
}

/*------- admin ---------*/
/* users */
.col-users{
  flex-direction: column;
}
.col-userhead{
  width: 100%;
  display: flex;
}
.col-userhead h2{
  font-family: "Dongle-Bold";
  font-size: 4rem;
  color: #ef9826;
}
.col-userhead h1{
  color: rgb(255, 0, 0);
}
.col-user-table{
  width: 100%;
  display: flex;
}
/* popup */
.popup-container {
  display: none;
  position: fixed;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: url(../img/profil_arkaplan.png);
  background-color: #34A0A4;
  z-index: 1000;
}
.col-popup{
  width: 100%;
  height: 500px;
  overflow-y: scroll !important;
  overflow-y: auto;
  background-color: white;
  border-radius: 1rem;
}
.col-popup h2{
  text-align: center;
  font-family: "Dongle-Bold";
  color: black;
  font-size: 2.5rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* blog */ 
.col-add-blog h1{
  padding-top: 1em;
}



/* Responsive Layout */
@media(max-width: 1680px){
  html{
      /* Sitenin oto font size'ını belirlemek için */
      font-size: 18px;
  }

  /* Layout */
  .columns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5em 3em;
      margin: 0;
  }

  /* Header Layout */
  .col-menu ul li{
      list-style-type: none;
      padding: .5em 2em;
      margin: 0;
      display: inline-block;
  }
  .col-user-act ul li{
      list-style-type: none;
      display: inline-block;
      padding: .5em 2em .5em 0;
      margin-left: -1em;
  }

  /* Introduction Layout */
  .col-intro{
      padding-top: 5em;
  }

  .col-abus{
    padding-top: 5em;
  }
}

@media(max-width: 1400px){
  html{
      /* Sitenin oto font size'ını belirlemek için */
      font-size: 16px;
  }

  /* Layout */
  .columns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5em 3em;
      margin: 0;
  }

  /* Header Layout */
  .col-menu ul li{
      list-style-type: none;
      padding: .5em 1em;
      margin: 0;
      display: inline-block;
  }
  .col-user-act ul li{
      list-style-type: none;
      display: inline-block;
      padding: .5em 2em .5em 0;
      margin-left: -1.5em;
  }

  /* Introduction Layout */
  .col-intro{
      padding-top: 5em;
  }

  .col-abus{
    padding-top: 5em;
  }
}

@media(max-width: 1024px){
  html{
      /* Sitenin oto font size'ını belirlemek için */
      font-size: 14px;
  }

  /* Layout */
  .columns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5em 3em;
      margin: 0;
  }

  /* Header Layout */
  .col-menu ul li{
      list-style-type: none;
      padding: .5em .5em;
      margin: 0;
      display: inline-block;
  }
  .col-user-act ul li{
      list-style-type: none;
      display: inline-block;
      padding: .5em 2em .5em 0;
      margin-left: -1.8em;
  }

  /* Introduction Layout */
  .col-intro{
      padding-top: 5em;
  }
  .col-services h1{
    color: #F08080;
    margin-top: -0.4em;
    font-size: 4rem;
  }
  .col-abus{
    padding-top: 5em;
  }
  #touch {position: absolute; opacity: 0; height: 0px;}
  #touch:checked + .slide {height: 7em;}
  #touch1 {position: absolute; opacity: 0; height: 0px;}
  #touch1:checked + .slide {height: 7em;}
  #touch2 {position: absolute; opacity: 0; height: 0px;}
  #touch2:checked + .slide {height: 8em;}

}

@media(max-width: 768px){
  html{
      /* Sitenin oto font size'ını belirlemek için */
      font-size: 9px;
  }

  /* Layout */
  .columns{
      align-items: center;
      flex-direction: column;
  }

  /* Header Layout */
  .col-logo img{
    width: 100%;
    padding: .5em 0 .5em 2em;
  }
  .col-menu ul li{
      list-style-type: none;
      padding: .5em 1em .5em 0;
      margin-left: 0;
      display: inline-block;
  }
  .col-user-act{
    max-width: 40%;
  }
  .col-user-act ul li{
      list-style-type: none;
      display: inline-block;
      padding: .5em 1em .5em 0;
      margin-left: -0.5em;
  }

  /* Typography */
  .columns, h1, h2{
      text-align: center;
  }

  /* Intro Layout */
  .col-intro-1,
  .col-intro-2{
      width: 100%
  }
  .col-intro{
      padding-top: 5em;
  }

  /* Hakkımızda */
  .col-abus{
    flex-direction: column;
    padding-top: 5em;
    align-items: center;
  }
  .col-abus1{
    width: 90%;
    margin: 0;
  }
  .col-abus1 nav ul{
    margin: 0;
    padding: 0;
  }
  .col-abus1 p{
    text-align: left;
  }
  .col-abus1 nav li{
    text-align: center;
    margin: 0;
  }
  .col-abus2{
    width: 70%
  }
  .slide li{
    margin: 0;
    padding: 0 2em;
  }

  /* Services */
  .col-services-1{
    padding-top: 3em;
    flex-direction: column;
  }
  .col-serv-vaccine{
    width: 70%;
    height: 150px;
    margin-bottom: 2em;
  }
  .col-serv-mypets{
    width: 70%;
    height: 150px;
    margin-bottom: 2em;
  }
  .col-serv-disease{
    width: 70%;
    height: 150px;
    margin-bottom: 2em;
  }
  .col-serv-faqs{
    width: 70%;
    height: 150px;
    margin-bottom: 2em;
  }
  .col-serv-vets{
    width: 70%;
    height: 150px;
    margin-bottom: 2em;
  }
  .col-serv-petshop{
    width: 70%;
    height: 150px;
    margin-bottom: 2em;
  }
}

@media(max-width: 500px){
  html{
      /* Sitenin oto font size'ını belirlemek için */
      font-size: 8px;
  }

  /* Layout */
  .columns{
      align-items: center;
      flex-direction: column;
  }
  /* Typography */

  .columns, h1, h2{
      text-align: center;
  }

  /* Header Layout */
  .col-menu ul li{
      display: none;
  }
  .col-user-act ul li{
      display: none;
  }

  /* Intro Layout */
  .col-intro-1,
  .col-intro-2{
      width: 100%
  }
  .col-intro{
      padding-top: 5em;
  }

  /* Slider Menu Layout */
  *{
      list-style: none;
      text-decoration: none;
  }
  .sidebar {
      top: 0;
      display: block;
      position: fixed;
      right: -100em;
      width: 12.5em;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.50);
      transition: all .5s ease;
  }
  .sidebar header {
      font-size: 3rem;
      color: white;
      text-align: center;
      line-height: 2.3em;
      background-color: #EF9826;
      user-select: none;
  }
  .sidebar li a {
      font-size: 3rem;
      color: rgb(0, 0, 0);
      margin-bottom: 2em;
      padding-left: 1em;
  }
  .sidebar li a:hover {
      color: #EF9826;
      transition: .4s;
  }

  /* Icon */
  label #btn, label #cancel {
      color: #EF9826;
      position: absolute;
      display: block;
      cursor: pointer;
  }
  label #btn {
      right: 1.25em;
      top: .8em;
      font-size: 2.5rem;
      transition: all .5s;
  }
  label #cancel {
      display: none;
      z-index: 1111;
      right: 1.25em;
      top: .8em;
      font-size: 2.5rem;
      color: rgb(255, 255, 255);
      transition: all 1s ease;
  }
  #check:checked ~ .sidebar {
      right: 0;
  }
  #check:checked ~ label #btn {
      right: 1.25;
      opacity: 0;
      pointer-events: none;
  }
  #check:checked ~ label #cancel {
      right: 1.25;
      display: block;
  }

  /* Footer */
    .col-footer{
      margin: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .col-footer1{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: .4em 0;
        margin: 0;
    }
    .col-footer2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .col-footer-hr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
        margin: 0;
    }
    .col-footer-bg{
        background: url(../img/footer_background.png);
        background-color: #1a779f42;
    }

    /* Sol logo tarafı */
    .col-left{
        text-align: center ;
        margin-top: 6em;
        width: 33%;
        margin-left: 2em;

    }
    .col-left img{
        width: 80%;
    }
    .col-left p{
        font-family: "Coco-Sharp-Regular";
        text-align: left;
        color: #194E78;
    }

    /* Servislerimiz */
    .col-center{
        margin-left: 0;
        width: 33%;
        flex-direction: column;
    }
    .col-center h2{
        font-family: "Dongle-Bold";
        color:#545454;
        font-size: 2rem;
        text-align: left;
    }
    .col-center a{
        color: #6C6C6C;
    }
    .col-center ul li{
        list-style-type: none;
        margin-top: 1em;
        text-align: left;
    }
    .col-center ul{
        margin-left: 0;
        text-align: left;
    }
    .col-center a{
        text-decoration: none;
    }

    /* Geri dönüş */
    .col-right{
        margin-left: 0;
        width: 33%;
        margin-right: 2em;
    }
    .col-right h6{
        margin-bottom: .8em;
        font-family: "Dongle-Bold";
        color:#545454;
        font-size: 2rem;
        line-height: .8em;
    }
    #footertext{
        width: 100%;
        height: 7rem;
        background-color: #E4E4E4;
        border: none;
        border-radius: 1em;
    }
    #footerbtn{
        float: right;
        margin-top: .5em;
        cursor: pointer ;
        margin-right: 0;
        font-size: 1rem;
        font-family: "Dongle-Bold";
        border:none;
        border-radius: 5px; 
        height:2em;
        width: 1em;
        background-color: #194E78;
        color: white;
    }

    /* Çizgi & copyright */
    .col-footer-hr hr{
        background-color: #194E78;
        height: .07em;
    }
    .col-copy{
        display: flex;
        padding:0 2em 0 2em;
        align-items: center;
        text-align: center;
    }
    .col-copy h4{
        margin-right: 1em;
        color: #194E78;
        font-family: "Dongle-Bold";
        text-align: left;
    }
}