@font-face {

  font-family: "Coco-Sharp-Regular-trial";
  src: url("../fonts/Coco-Sharp-Regular-trial.ttf");

  font-family: "Dongle-Bold";
  src: url("../fonts/Dongle-Bold.ttf");
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: "";
  align-items: center;
  padding: 20px;
  background-color: rgba(254, 218, 184, 0.22);
}

.logo img{
  width: 150px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-left: 50px;
}

.navbar li {
  padding: 40px;
  margin-right: 20px;
  align-items: center;
  font-family: "Dongle-Bold";
  font-size: 30px;
}

.navbar a {
  text-decoration: none;
  color: #EF9826;
  font-weight: bold;
  align-items: center;
}
.navbar a:hover{
  color: aqua;
  transition: 0,5s;
}

.user-actions{
  margin-left: auto;
  margin-right: 100px;
}

.user-actions a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  font-family: "Dongle-Bold";
  font-size: 30px;
}

.intro-section {
  background: url('../img/background-first.png') repeat; /* Arkaplan deseni ekle */
  color: #333; /* Metin rengi */
  background-color: rgba(254, 218, 184, 0.22);
 /* İstediğiniz kadar iç ve dış boşluk ekleyin */
}

.intro-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.intro-image img {
  width: 80%;
  height: auto;
  border-radius: 8px; /* İstediğiniz bir kenar yuvarlaklığı ekleyin */
  margin-left: 50px;
  margin-top: -125px;
  margin-bottom: 50px;
}

.intro-text {
  margin-right: 50px;
  width: 200%;
}

.intro-text h2 {
  font-size: 24px;
}

.intro-text p {
  font-size: 16px;
}